<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GoMaM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GoMaM.Properties.Settings.DBConnStr" connectionString="server=62.219.182.185;user id=MamServer;password=Pupikon4;persist security info=True;database=mam;charset=utf8" />
        <add name="GoMaM.Properties.Settings.DBConnStr_MT4" connectionString="server=62.219.182.185;user id=mt4;password=Pupikon4;persist security info=True;database=mam;charset=utf8" />
    </connectionStrings>
    <userSettings>
        <GoMaM.Properties.Settings>
            <setting name="LogFilePath" serializeAs="String">
                <value>logs\</value>
            </setting>
            <setting name="TradesSyncInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SymbolTransform1_Manager" serializeAs="String">
                <value />
            </setting>
            <setting name="SymbolTransform1_Client" serializeAs="String">
                <value />
            </setting>
            <setting name="ManagerLogin" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ManagerPassword" serializeAs="String">
                <value>admin1234</value>
            </setting>
            <setting name="TimeZoneOffset" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SymbolTransform2_Manager" serializeAs="String">
                <value />
            </setting>
            <setting name="SymbolTransform2_Client" serializeAs="String">
                <value />
            </setting>
            <setting name="VolumeTransform1_Client" serializeAs="String">
                <value />
            </setting>
            <setting name="DelayOpenTrades" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DelayOpenTradesIncrement" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DelayCloseTrades" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MT4ServerAddress" serializeAs="String">
                <value>127.0.0.1:4444</value>
            </setting>
            <setting name="MaxAttempts" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>MAM</value>
            </setting>
            <setting name="AcceptedTradesSyncInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PhoneNumbers_SMS" serializeAs="String">
                <value />
            </setting>
        </GoMaM.Properties.Settings>
    </userSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
